* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', serif;
    background: #000;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}

.marco {
    position: absolute;
    top: 8%;
    left: 10%;
    width: 80%;
    height: 84%;
    border: 1px solid #e6d78b;
    z-index: 2;
}

.fecha {
    position: absolute;
    top: 12%;
    width: 100%;
    text-align: center;
    color: #e6d78b;
    font-size: 32px;
    z-index: 3;
}

.contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
}

.contenido h1 {
    color: #e6d78b;
    font-size: 90px;
    line-height: 0.9;
    font-weight: 600;
}

.contenido p {
    color: white;
    margin-top: 20px;
    font-size: 24px;
}

.nombres {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: #e6d78b;
    font-size: 50px;
    font-family: 'Parisienne', cursive;
    z-index: 3;
}

.btn-musica {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #e6d78b;
    color: #000;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .4);
    transition: all 0.3s;
}
.historia{
    min-height:100vh;
    background:#f8f4ef;
    padding:120px 20px;
    display:flex;
    justify-content:center;
}

.historia-contenedor{
    max-width:900px;
    width:100%;
    text-align:center;
}

.historia h2{
    font-family:'Parisienne', cursive;
    font-size:80px;
    color:#96794c;
    margin-bottom:20px;
}

.linea{
    width:150px;
    height:2px;
    background:#d4b977;
    margin:0 auto 60px auto;
}

.foto-historia{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:20px;
    border:4px solid #d4b977;
    margin-bottom:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.20);
    transition:all .3s ease;
}

.foto-historia:hover{
    transform:scale(1.03);
}

.momento{
    margin-bottom:100px;
}

.momento h3{
    font-size:32px;
    color:#96794c;
    margin-bottom:15px;
}

.momento p{
    font-size:22px;
    line-height:1.8;
    color:#4a4a4a;
}
/* ========================= */
/*      SECCION EVENTO       */
/* ========================= */

.evento{
    position:relative;
    min-height:100vh;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;
}

.fondo-evento{
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;

    object-fit:cover;
}

.overlay-evento{
    position:absolute;
    inset:0;

    background:rgba(0,0,0,.55);
}
.evento-contenedor{
    position:relative;
    z-index:3;

    text-align:center;

    max-width:900px;
    width:100%;

    padding:40px;

    transform:translateY(120px);

.evento h2{
    font-family:'Parisienne', cursive;
    font-size:90px;
    color:#e6d78b;

    margin-bottom:20px;
}

.dato{
    margin:30px 0;
}

.dato span{
    display:block;
    font-size:40px;

    margin-bottom:10px;
}

.dato h3{
    color:white;

    font-size:32px;

    font-weight:400;
}

.boton-evento{
    display:inline-block;

    margin:15px 10px;

    padding:15px 35px;

    background:#e6d78b;

    color:#000;

    text-decoration:none;

    border-radius:40px;

    font-size:20px;

    font-weight:bold;

    transition:.3s;
}

.boton-evento:hover{
    transform:scale(1.05);
}

.whatsapp{
    background:#25D366;
    color:white;
}

.contador{
    margin-top:60px;
}

.contador h3{
    color:#e6d78b;

    margin-bottom:15px;
}

.contador p{
    color:white;

    margin-top:10px;
}

#dias-restantes{
    font-size:80px;

    font-weight:bold;

    color:#e6d78b;
}
.texto-contador{
    color:white;
    margin-top:15px;
    font-size:28px;
    font-weight:400;
}
